@model HotelBookingSystem.Models.Room

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h1>详情</h1>

<div>
	<h4>房间</h4>
	<hr />
	<div class="card border-secondary mb-3" style="max-width: 40rem;">
		<div class="card-body">
			<dl class="row m-3">
				<dt class = "col-sm-2">
					@Html.DisplayNameFor(model => model.Name)
				</dt>
				<dd class = "col-sm-10">
					@Html.DisplayFor(model => model.Name)
				</dd>
				<dt class = "col-sm-2">
					@Html.DisplayNameFor(model => model.Status)
				</dt>
				<dd class="col-sm-10">
					@if (Model.Status.Equals(0))
					{
						<span class="badge bg-success">空闲</span>
					}
					else if (Model.Status.Equals(1))
					{
						<span class="badge bg-info">暂不可用</span>
					}
					else if (Model.Status.Equals(2))
					{
						<span class="badge bg-warning">等待维修</span>
					}
					else if (Model.Status.Equals(3))
					{
						<span class="badge bg-danger">等待检查</span>
					}
				</dd>
				<dt class = "col-sm-2">
					@Html.DisplayNameFor(model => model.Description)
				</dt>
				<dd class = "col-sm-10">
					@Html.DisplayFor(model => model.Description)
				</dd>
				<dt class = "col-sm-2">
					@Html.DisplayNameFor(model => model.RoomType)
				</dt>
				<dd class = "col-sm-10">
					@Html.DisplayFor(model => model.RoomType.Name)
				</dd>
				<dt class = "col-sm-2">
					@Html.DisplayNameFor(model => model.Hotel)
				</dt>
				<dd class = "col-sm-10">
					@Html.DisplayFor(model => model.Hotel.Name)
				</dd>
			</dl>
		</div>
	</div>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">修改房间信息</a> |
	<a asp-action="Index" class="btn btn-info">返回房间列表页</a>
</div>
