@* @model IEnumerable<HotelBookingSystem.Models.Room> *@
@model HotelBookingSystem.ViewModels.RoomSearchViewModel

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h2>房间列表</h2>

<p>
	<a asp-action="Create" class = "btn btn-primary">新建房间</a>
</p>
<form asp-controller="Rooms" asp-action="Index" method="get">
	<div class="form-group mb-3 w-25">
		<select class="form-select" asp-for="RoomHotel" asp-items="Model.Hotels">
			<option value="">全部酒店</option>
		</select>
	</div>
	<div class="form-group mb-3 w-25">
		<select class="form-select" asp-for="RoomType" asp-items="Model.RoomTypes">
			<option value="">全部房型</option>
		</select>
	</div>
	<div class="input-group mb-3 w-25">
		<input type="text" class="form-control" asp-for="RoomName" placeholder="搜索房间名称" aria-label="房间名称" aria-describedby="button-addon2">
		<button class="btn btn-primary" type="submit" id="button-addon2">搜索</button>
	</div>
</form>
@if (Model.Rooms.Count == 0)
{
	<div class="card border-info mb-3" style="width: 50%">
		<div class="card-header">系统提示信息</div>
		<div class="card-body">
			<h4 class="card-title">暂无房间信息</h4>
			<p class="card-text">请检查你的数据库或联系管理员</p>
		</div>
	</div>
}
else
{
	<table class="table table-bordered table-hover text-center">
		<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Rooms[0].Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Rooms[0].Status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Rooms[0].Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Rooms[0].RoomType)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Rooms[0].Hotel)
			</th>
			<th>可选操作</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var item in Model.Rooms)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@if (item.Status.Equals(0))
					{
						<span class="badge bg-success">空闲</span>
					}
					else if (item.Status.Equals(1))
					{
						<span class="badge bg-info">暂不可用</span>
					}
					else if (item.Status.Equals(2))
					{
						<span class="badge bg-warning">等待维修</span>
					}
					else if (item.Status.Equals(3))
					{
						<span class="badge bg-danger">等待检查</span>
					}

				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.RoomType.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Hotel.Name)
				</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">查看详情</a>
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">修改</a>
					<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">删除</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
}