@model HotelBookingSystem.Models.Reservation

@{
	ViewData["Title"] = "Delete";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h1>删除</h1>

<h3 class="text-danger">你确认要删除这个预订？本操作不可撤销！</h3>
<div>
	<hr />
	<div class="card border-secondary mb-3" style="max-width: 50rem;">
		<div class="card-body">
			<dl class="row m-3">
				<dt class = "col-sm-2">
					@Html.DisplayNameFor(model => model.Room)
				</dt>
				<dd class = "col-sm-10">
					@Html.DisplayFor(model => model.Room.Name)
				</dd class>
				<dt class = "col-sm-2">
					@Html.DisplayNameFor(model => model.Customer)
				</dt>
				<dd class = "col-sm-10">
					@Html.DisplayFor(model => model.Customer.Name)
				</dd class>
				<dt class = "col-sm-2">
					@Html.DisplayNameFor(model => model.DateCheckIn)
				</dt>
				<dd class = "col-sm-10">
					@Html.DisplayFor(model => model.DateCheckIn)
				</dd>
				<dt class = "col-sm-2">
					@Html.DisplayNameFor(model => model.DateCheckOut)
				</dt>
				<dd class = "col-sm-10">
					@Html.DisplayFor(model => model.DateCheckOut)
				</dd>
				<dt class = "col-sm-2">
					@Html.DisplayNameFor(model => model.Description)
				</dt>
				<dd class = "col-sm-10">
					@Html.DisplayFor(model => model.Description)
				</dd>
				<dt class = "col-sm-2">
					@Html.DisplayNameFor(model => model.Room.Hotel)
				</dt>
				<dd class = "col-sm-10">
					@Html.DisplayFor(model => model.Room.Hotel.Name)
				</dd>
				<dt class = "col-sm-2">
					@Html.DisplayNameFor(model => model.Room.RoomType)
				</dt>
				<dd class = "col-sm-10">
					@Html.DisplayFor(model => model.Room.RoomType.Name)
				</dd>
				<dt class = "col-sm-2">
					@Html.DisplayNameFor(model => model.Room.Hotel.PhoneNumber)
				</dt>
				<dd class = "col-sm-10">
					@Html.DisplayFor(model => model.Room.Hotel.PhoneNumber)
				</dd>
				<dt class = "col-sm-2">
					@Html.DisplayNameFor(model => model.Status)
				</dt>
				<dd class = "col-sm-10">
					@if (Model.Status.Equals(0))
					{
						<span class="badge bg-warning">未支付</span>
					}
					else if (Model.Status.Equals(1))
					{
						<span class="badge bg-info">已支付</span>
					}
					else if (Model.Status.Equals(2))
					{
						<span class="badge bg-success">进行中</span>
					}
					else if (Model.Status.Equals(3))
					{
						<span class="badge bg-secondary">已完成</span>
					}
				</dd>
			</dl>
	
			<form asp-action="Delete">
				<input type="hidden" asp-for="Id" />
				<input type="submit" value="删除" class="btn btn-danger" /> |
				<a asp-action="Index" class="btn btn-info">返回预订列表页</a>
			</form>
		</div>
	</div>
	</div>
