@model HotelBookingSystem.Models.Reservation

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h1>修改</h1>

<h4>预订</h4>
<hr />
<div class="row">
	<div class="col-md-4 table-special-background">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group m-3">
				<label asp-for="RoomId" class="control-label"></label>
				<select asp-for="RoomId" class="form-control" asp-items="ViewBag.RoomId" disabled="disabled"></select>
				<span asp-validation-for="RoomId" class="text-danger"></span>
			</div>
			<div class="form-group m-3">
				<label asp-for="CustomerId" class="control-label"></label>
				<select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId" disabled="disabled"></select>
				<span asp-validation-for="CustomerId" class="text-danger"></span>
			</div>
			<div class="form-group m-3">
				<label asp-for="DateCheckIn" class="control-label"></label>
				<input asp-for="DateCheckIn" class="form-control" disabled="disabled"/>
				<span asp-validation-for="DateCheckIn" class="text-danger"></span>
			</div>
			<div class="form-group m-3">
				<label asp-for="DateCheckOut" class="control-label"></label>
				<input asp-for="DateCheckOut" class="form-control" disabled="disabled"/>
				<span asp-validation-for="DateCheckOut" class="text-danger"></span>
			</div>
			<div class="form-group m-3">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" disabled="disabled"/>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>			
			<div class="form-group m-3">
				<label asp-for="TotalPrice" class="control-label"></label>
				<input asp-for="TotalPrice" class="form-control" disabled="disabled"/>
				<span asp-validation-for="TotalPrice" class="text-danger"></span>
			</div>
			<div class="form-group m-3">
				<label asp-for="Status" class="control-label"></label>
				<select class="form-select" asp-for="Status">
					<option value="0">未支付</option>
					<option value="1">已支付</option>
					<option value="2">进行中</option>
					<option value="3">已完成</option>
				</select>
				<span asp-validation-for="Status" class="text-danger"></span>
			</div>
			@Html.HiddenFor(r => r.RoomId)
			@Html.HiddenFor(r => r.CustomerId)
			@Html.HiddenFor(r => r.DateCheckIn)
			@Html.HiddenFor(r => r.DateCheckOut)
			@Html.HiddenFor(r => r.Description)
			@Html.HiddenFor(r => r.TotalPrice)
			<div class="form-group m-3">
				<input type="submit" value="修改" class="btn btn-warning" />
				<a asp-action="Index" class="btn btn-outline-info">返回预订列表页</a>
			</div>
		</form>
	</div>
</div>


