@* @model IEnumerable<HotelBookingSystem.Models.Reservation> *@
@model HotelBookingSystem.ViewModels.AdminReservationFormViewModel

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h2>预约列表</h2>

<p>
	<a asp-action="Create" class = "btn btn-primary">新建预约</a>
</p>
<form asp-controller="Reservations" asp-action="Index" method="get">
	<div class="form-group mb-3 w-25">
		<select class="form-select" asp-for="RoomType" asp-items="Model.RoomTypes">
			<option value="">全部房型</option>
		</select>
	</div>
	<div class="form-group mb-3 w-25">
		<select class="form-select" asp-for="RoomHotel" asp-items="Model.RoomHotels">
			<option value="">全部酒店</option>
		</select>
	</div>
	<div class="form-group mb-3 w-25">
		@* <select class="form-select" asp-for="ReservationStatus" asp-items="Model.ReservationStatuses"> *@
		@* 	<option value="10">全部状态</option> *@
		@* </select> *@
		<select class="form-select" asp-for="ReservationStatus">
			<option value="0">全部状态</option>
			<option value="1">未支付</option>
			<option value="2">已支付</option>
			<option value="3">进行中</option>
			<option value="4">已完成</option>
		</select>
	</div>
	<div class="input-group mb-3 w-25">
		<button class="btn btn-primary" type="submit">筛选</button>
	</div>
</form>
@if (Model.Reservations.Count == 0)
{
	<div class="card border-info mb-3" style="width: 50%">
	@* <div class="card border-info mb-3" style="max-width: 20rem;"> *@
		<div class="card-header">系统提示信息</div>
		<div class="card-body">
			<h4 class="card-title">暂无预约信息</h4>
			<p class="card-text">请检查你的数据库或联系管理员</p>
		</div>
	</div>
}
else
{
	<table class="table text-center table-special-background">
		<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Reservations[0].Room)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Reservations[0].Customer)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Reservations[0].DateCheckIn)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Reservations[0].DateCheckOut)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Reservations[0].Room.Hotel)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Reservations[0].Status)
			</th>
			<th>
				可选操作
			</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var item in Model.Reservations) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Room.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Customer.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DateCheckIn)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DateCheckOut)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Room.Hotel.Name)
				</td>
				<td>
					@if (item.Status.Equals(0))
					{
						<span class="badge bg-warning">未支付</span>
					}
					else if (item.Status.Equals(1))
					{
						<span class="badge bg-info">已支付</span>
					}
					else if (item.Status.Equals(2))
					{
						<span class="badge bg-success">进行中</span>
					}
					else if (item.Status.Equals(3))
					{
						<span class="badge bg-secondary">已完成</span>
					}
				</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">查看详情</a>
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">修改</a>
					<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">删除</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
}
