@model IEnumerable<HotelBookingSystem.Models.Reservation>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h2>预约列表</h2>

<p>
	<a asp-action="Create" class = "btn btn-primary">新建预约</a>
</p>
@if (!Model.Any())
{
	<div class="card border-info mb-3" style="width: 50%">
	@* <div class="card border-info mb-3" style="max-width: 20rem;"> *@
		<div class="card-header">系统提示信息</div>
		<div class="card-body">
			<h4 class="card-title">暂无预约信息</h4>
			<p class="card-text">请检查你的数据库或联系管理员</p>
		</div>
	</div>
}
else
{
	<table class="table text-center">
		<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Room)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Customer)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DateCheckIn)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DateCheckOut)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Room.Hotel)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th>
				可选操作
			</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Room.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Customer.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DateCheckIn)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DateCheckOut)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Room.Hotel.Name)
				</td>
				<td>
					@if (item.Status.Equals(0))
					{
						<span class="badge bg-warning">未支付</span>
					}
					else if (item.Status.Equals(1))
					{
						<span class="badge bg-info">已支付</span>
					}
					else if (item.Status.Equals(2))
					{
						<span class="badge bg-success">进行中</span>
					}
					else if (item.Status.Equals(3))
					{
						<span class="badge bg-secondary">已完成</span>
					}
				</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">查看详情</a>
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">修改</a>
					<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">删除</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
}