@model HotelBookingSystem.ViewModels.MovieFormViewModel
@{
	ViewData["Title"] = "MovieForm";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Movies"))
{
	@Html.ValidationSummary()
	<div class="form-group">
		@Html.LabelFor(m => m.Movie.Name, new { @class = "form-label mt-4"})
		@Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control"})
		@Html.ValidationMessageFor(m => m.Movie.Name)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Movie.DateCheckIn, new { @class = "form-label mt-4"})
		<input asp-for="Movie.DateCheckIn" class="form-control" />
		@* @Html.TextBoxFor(m => m.Movie.DateCheckIn, "{0:d MMM yyyy}", new { @class = "form-control"}) *@
		@Html.ValidationMessageFor(m => m.Movie.DateCheckIn)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Movie.DateCheckOut, new { @class = "form-label mt-4"})
		<input asp-for="Movie.DateCheckOut" class="form-control" />
		@* @Html.TextBoxFor(m => m.Movie.DateCheckOut, "{0:d MMM yyyy}", new { @class = "form-control"}) *@
		@Html.ValidationMessageFor(m => m.Movie.DateCheckOut)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Movie.RoomTypeId,new { @class = "form-label mt-4"})
		@Html.DropDownListFor(m => m.Movie.RoomTypeId, new SelectList(Model.RoomTypes,"Id", "Name"), "选择房间类型" , new { @class = "form-control"})
		@Html.ValidationMessageFor(m => m.Movie.RoomTypeId)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Movie.NumberInStock, new { @class = "form-label mt-4"})
		@Html.TextBoxFor(m => m.Movie.NumberInStock, new { @class = "form-control"})
		@Html.ValidationMessageFor(m => m.Movie.NumberInStock)
	</div>
	@* @Html.Hidden("Movie.id", (Model.Movie != null) ? Model.Movie.Id : 0) *@
	@Html.HiddenFor(m => m.Movie.Id);
	@Html.AntiForgeryToken()	// Anti-CSRF(Cross-site request forgery)
	<button type="submit" class="btn btn-primary mt-4">保存</button>
}


@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}	@*添加客户端验证*@
}