@using Microsoft.AspNetCore.Identity
@using HotelBookingSystem.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model HotelBookingSystem.ViewModels.CustomerReservationViewModel
@{
	ViewData["Title"] = "CustomerRoomList";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h2>搜索结果</h2>
<hr/>
@if (!Model.ResultRooms.Any())
{
	<div class="card border-info mb-3" style="width: 50%">
		<div class="card-header">系统提示信息</div>
		<div class="card-body">
			<h4 class="card-title">没有可用的房间！</h4>
			<p class="card-text">请更改您的日期或查看全部房型</p>
		</div>
	</div>
}
else
{
	<table class="table table-bordered table-hover table-special-background">
		<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ResultRooms.ElementAt(0).Name) @*测试完成后删除这一列*@
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ResultRooms.ElementAt(0).RoomType)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ResultRooms.ElementAt(0).Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ResultRooms.ElementAt(0).Hotel)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ResultRooms.ElementAt(0).Hotel.Location)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ResultRooms.ElementAt(0).Hotel.Discount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ResultRooms.ElementAt(0).RoomType.Price)
			</th>
			<th>可选操作</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var item in Model.ResultRooms)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)	@*测试完成后删除这一列*@
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.RoomType.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Hotel.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Hotel.Location)
				</td>
				<td>
					@if (item.Hotel.Discount.Equals(0))
					{
						<text>暂无</text>
					}
					else
					{
						<text>-</text>@Html.DisplayFor(modelItem => item.Hotel.Discount)<text> CNY</text>
					}
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.RoomType.Price)
				</td>
				<td>
					@Html.ActionLink("查看详情","SelectedRoomDetail","Rooms",new { id = item.Id, checkInTime = Model.CheckInTime, checkOutTime = Model.CheckOutTime, userEmail = UserManager.GetUserName(User) }, new {@class = "btn btn-primary"})
				</td>
			</tr>
		}
		</tbody>

	</table>
}
